.item {
    margin: 15px 0;
    color: #9e9e9e;
    cursor: pointer;
    transition: .5s color ease;

    &::before {
        content: url('../../../assets/images/list-point.svg');
        position: relative;
        vertical-align: middle;
        margin: 0 10px;
    }

    &:hover {
        color: #000
    }
}
